joshuafolkken.duckdns.org {
	log {
		output file /var/log/caddy/access.log
		format console
	}

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}

	reverse_proxy @websockets 127.0.0.1:50000

	# respond / "It works!" 200
}
